body {
    color: white;
    background-image: linear-gradient(45deg, #252626, #383838);
    font-family: var(--fontFamily);
}

h1,
.tasks>h2,
.info>h2 {
    display: none;
}

.alert {
    height: 4rem;
}

.navbar {
    display: flex;
    padding: 0.8rem;
    background-color: #18181838;
}

.add>select {
    margin: 0 0.8rem;
    min-width: 10rem;
}

.search>input {
    margin: 0 1rem;
}

.search>select {
    min-width: 10rem;
}

.container {
    margin: 0 2rem;
}

.search {
    border-bottom: 1px solid white;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #18181838;
    width: 100%;
    font-size: 1.5rem;
    border-top: 1px solid white;
}

.tasks {
    font-size: 1.5rem;
}


.one_task>button {
    all: unset;
    display: inline-block;
    height: calc(100% - 6px);
    width: 6rem;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: var(--deleteColorInactive);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.one_task>button:hover {
    background-color: var(--deleteColorActive);
}

.one_task>button:active {
    transform: scale(0.95);
    transition: 0.05s;
}


.one_task>h3 {

    text-shadow: black 1px 1px;
}

.one_task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 5rem;
    border-radius: 5px;
    margin: 0.2rem;
}

.urgent_task {
    background-color: var(--urgentColor);
}

.daily_task {
    background-color: var(--dailyColor);
}

.monthly_task {
    background-color: var(--monthlyColor);
}