body {
    color: white;
    background-color: var(--backColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fontFamily);
}

h1,
.tasks>h2,
.info>h2 {
    display: none;
}

.alert {
    height: 4rem;
}

.navbar {
    display: flex;
    padding: 0.8rem;
}

.add>select {
    /* all: unset;
    background-color: white;
    color: black; */
    margin: 0 0.8rem;
    min-width: 10rem;
}

.add>#text_add {
    /* all: unset;
    background-color: white;
    color: black; */
}

.add>#add_button {
    /* all: unset;
    background-color: white;
    color: black; */
}

.search>input {
    /* all: unset;
    background-color: white;
    color: black; */
    margin: 0 1rem;
}

.search>select {
    /* all: unset;
    background-color: white;
    color: black; */
    min-width: 10rem;
}

.container {
    margin: 0 15rem;
}

.search {
    border-bottom: 1px solid white;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    color: black;
    width: 100%;
    font-size: 1.5rem;
    border-top: 1px solid white;
}

.tasks {
    font-size: 1.5rem;
}


.one_task>button {
    all: unset;
    display: inline-block;
    height: calc(100% - 6px);
    width: 6rem;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: var(--deleteColor);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 0.8rem;
}

.one_task>button:hover {}

.one_task>button:active {
    transform: scale(0.95);
    box-shadow: inset 1px 1px 4px black;
    transition: 0.05s;
}


.one_task>h3 {
    color: white;
    font-weight: bold;
}

.one_task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 5rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.urgent_task {
    background-color: var(--urgentColor);
}

.daily_task {
    background-color: var(--dailyColor);
}

.monthly_task {
    background-color: var(--monthlyColor);
}