:root {

    --urgentColorGradient: linear-gradient(90deg, rgb(174, 107, 48), rgb(250, 179, 117));
    --dailyColorGradient: linear-gradient(90deg, rgb(150, 147, 67), rgb(248, 244, 110));
    --monthlyColorGradient: linear-gradient(90deg, rgb(99, 132, 58), rgb(186, 248, 111));
    --deleteColorActive: #76231f;
    --deleteColorInactive: #3838384d;
    --fontFamily: Arial, Helvetica, sans-serif;
}