:root {

    --urgentColor: rgb(194, 91, 2);
    --dailyColor: rgb(205, 198, 2);
    --monthlyColor: rgb(106, 191, 2);
    --deleteColorActive: rgb(255, 0, 0);
    --deleteColorInactive: rgba(255, 0, 0, 0.558);
    --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}